html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-width: 500px;
  min-height: max(750px, 100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}

h1,
h2,
.h1,
.h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1,
h2,
.h2 {
  margin-top: 18px;
  margin-bottom: 9px;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 33px;
}
h2,
.h2 {
  font-size: 27px;
}

p, span {
  margin: 0 0 9px;
}
/* #root {} */

.App {
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: max(750px, 100vh);
  max-height: max(750px, 100vh);
  display: grid;
  grid-template-areas:
    "header"
    "canvas"
    "table"
  ;
  grid-template-columns: 1fr;
  grid-template-rows:
    auto
    50%
    50%
  ;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-content: stretch;
  justify-content: stretch;
}

.App .header {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

.App .header h1.title {
  margin-bottom: 0;
}
.App .header p.description {
  color: '#444';
  text-align: justify;
  word-wrap: break-word;
}

.App > .canvas {
  width: 95vw;
  height: 100%;
}

.App .table {
  height: 100%;
}
