@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/color-classes';
$primary-color: color("blue", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: color("blue", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
$switch-checked-lever-bg: color("grey", "lighten-1") !default;
@import '~materialize-css/sass/materialize';

body {
  display: flex;
  min-height: 100vh;
  min-width: 750px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: rgba(255, 255, 255, 0.96);
}

.collapsible-body {
  background: rgba(255, 255, 255, 1);
}

footer {
  opacity: 0.92;
}